div.css-j5r0tf.e1tzin5v2 {
        font-family: monospace;
        padding: 20px;
        background-image:linear-gradient(to right,#BD671F, #D4A618);
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        border-style:groove;
        border-color:darkgoldenrod;
}

.css-1fjoycl.e16fv1kl3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
  }

.css-1xarl3l.e16fv1kl1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

p {
    color: white;
    font-weight: bold;
    font-size: 18px;
}


.css-13okif8.edgvbvh10 {
    background-color: #D4A618;
}


